$white: #ffffff;
$gray-white: rgb(211, 211, 211);
$black: rgb(43, 43, 43);
$light-blue: #36558F;
$dark-blue: #1d59b4;
$button: #1d59b450;
$light-blue-gradient: linear-gradient(45deg, rgba(0, 41, 90, 0.95), rgba(0, 77, 170, 0.95) 100%);